##### Dictionary Set
- Dictionary의 키는 반드시 불변(문자열, 숫자 또는 튜플)이어야 한다.
- Dictionary의 키는 유일해야 한다.

In [6]:
country_codes = {'Finland':'fi', 'South Africa':'za', 'Nepal':'np'}
print(type(country_codes))
print(country_codes.items())
print(country_codes.values())
print(country_codes.keys())
print(len(country_codes))

if country_codes:
    print("country_codes is not empty")
else:
    print("country_codes is empty")

<class 'dict'>
dict_items([('Finland', 'fi'), ('South Africa', 'za'), ('Nepal', 'np')])
dict_values(['fi', 'za', 'np'])
dict_keys(['Finland', 'South Africa', 'Nepal'])
3
country_codes is not empty

In [8]:
days_per_month = {"January":31, "February":28, "March":31}

for month, day in days_per_month.items():
    print(f"{month} is the {day}st")

January is the 31st
February is the 28st
March is the 31st

In [14]:
roman_numerals = {'Ⅰ':1, 'Ⅱ':2, 'Ⅲ':3, 'Ⅳ':4, 'Ⅴ':5, 'Ⅵ':100}
print(roman_numerals)
print(roman_numerals['Ⅵ'])
roman_numerals['Ⅵ'] = 6
print(roman_numerals)
roman_numerals['Ⅶ'] = 7
print(roman_numerals)
#del roman_numerals['Ⅶ']
roman_numerals.pop('Ⅶ')
print(roman_numerals)

{'Ⅰ': 1, 'Ⅱ': 2, 'Ⅲ': 3, 'Ⅳ': 4, 'Ⅴ': 5, 'Ⅵ': 100}
100
{'Ⅰ': 1, 'Ⅱ': 2, 'Ⅲ': 3, 'Ⅳ': 4, 'Ⅴ': 5, 'Ⅵ': 6}
{'Ⅰ': 1, 'Ⅱ': 2, 'Ⅲ': 3, 'Ⅳ': 4, 'Ⅴ': 5, 'Ⅵ': 6, 'Ⅶ': 7}
{'Ⅰ': 1, 'Ⅱ': 2, 'Ⅲ': 3, 'Ⅳ': 4, 'Ⅴ': 5, 'Ⅵ': 6}

In [19]:
print(roman_numerals)
roman_numerals.get('Ⅹ', 'Ⅹ is not in roman_numerals.')
roman_numerals.get('Ⅲ')
'Ⅰ' in roman_numerals
'Ⅷ' in roman_numerals

{'Ⅰ': 1, 'Ⅱ': 2, 'Ⅲ': 3, 'Ⅳ': 4, 'Ⅴ': 5, 'Ⅵ': 6}

False

In [28]:
months = {'Jaunary':1, 'February':2, 'March':3}
for month_name in months.keys():
    print(month_name)

for month_number in months.values():
    print(month_number)

months_view = months.keys()

for key in months_view:
    print(key, end=" ")
print()
months['December'] = 12
print(months)
for key in months_view:
    print(key, end=" ")
print()


for month_name in sorted(months.keys()):
    print(month_name, end=",")

Jaunary
February
March
1
2
3
Jaunary February March
{'Jaunary': 1, 'February': 2, 'March': 3, 'December': 12}
Jaunary February March December
December,February,Jaunary,March,

In [30]:
country_capitals1 = {'Belgium':'Brussels', 'Haiti':'Port-au-Prince'}
country_capitals2 = {'Nepal':'Kathmandu', 'Uruguay':'Montevideo'}
country_capitals3 = {'Haiti':'Port-au-Prince', 'Belgium':'Brussels'}

print(country_capitals1 == country_capitals2)
print(country_capitals1 == country_capitals3)

False
True

In [34]:
grade_book = {
    'Susan':[95, 85, 100],
    'Eduardo':[83, 95, 79],
    'Azizi':[91, 89, 82],
    'Pantipa':[97,91, 92]
}

all_grades_total = 0
all_grades_count = 0 

for name, grades in grade_book.items():
    total= sum(grades)
    print(f'The average score of the {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)
print(f'Average: { all_grades_total/ all_grades_count:.2f}')

The average score of the Susan is 93.33
3
The average score of the Eduardo is 85.67
3
The average score of the Azizi is 87.33
3
The average score of the Pantipa is 93.33
3
12
Average: 89.92

In [36]:
text = ('this is sample text with several words this is more sample text with some different words')

word_count = {}

for word in text.split():
    if word in word_count:
        word_count[word]+=1
    else:
        word_count[word]= 1

for key, value in word_count.items():
    print(key, value)

this 2
is 2
sample 2
text 2
with 2
several 1
words 2
more 1
some 1
different 1

In [46]:
from collections import Counter
text = ('this is sample text with several words this is more sample text with some different words')
counter = Counter(text.split())

for word, count in sorted(counter.items()):
    print(f'{word:<12} {count:>10}')

different             1
is                    2
more                  1
sample                2
several               1
some                  1
text                  2
this                  2
with                  2
words                 2

In [50]:
country_codes = {}
country_codes.update({'South Africa':'za'})
print(country_codes)
country_codes.update(Australia='ar')
print(country_codes)

{'South Africa': 'za'}
{'South Africa': 'za', 'Australia': 'ar'}

In [53]:
months = {'January':1, 'February':2, "March":3}
months2 = {number:name for name, number in months.items()}
print(months2)
grades = {'Sue':[98, 97, 94], 'Bob':[84, 95, 91]}
grades2 = {k: sum(v)/len(v) for k, v in grades.items()}
print(grades2)

{1: 'January', 2: 'February', 3: 'March'}
{'Sue': 96.33333333333333, 'Bob': 90.0}

In [13]:
colors = {"red", "orange", "yellow", "green", "red", "blue", "green"}
print(colors)
print(len(colors))
print("pink" in colors)
print("red" in colors)

for color in colors :
    print(color.upper(), end=" ")
    
print()
numbers = list(range(10)) + list(range(5, 10))
print(numbers)
set1 = set(numbers)
print(set1)

{'red', 'blue', 'orange', 'green', 'yellow'}
5
False
True
RED BLUE ORANGE GREEN YELLOW
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
print({1, 3, 5} == {1, 5, 3})
print({1, 3, 5} < {3, 5, 1})
print({1, 3, 5} < {4, 3, 5, 1})
print({1, 3}.issubset({3, 4, 1}))

True
False
True
True

In [29]:
set1 = {1, 3, 5}
set2 = {2, 3, 4}
print(set1 | set2)
print(set1.union(set2))
print(set2.union([1, 2, 3, 4, 5, 6, 7, 8]))

print(set1 & set2)
print(set1.intersection(set2))
print("="*30)
print(set1 - set2)
print({1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4]))

print("="*30)
print(set1 ^ set2)
print({1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4]))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{3}
{3}
==============================
{1, 5}
{1, 5, 7}
==============================
{1, 2, 4, 5}
{1, 2, 4, 5, 7}

In [33]:
numbers = {1, 3, 5}
numbers |= {2, 3, 4}
print(numbers)
numbers.add(4)
numbers.add(18)
print(numbers)

numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 9, 10, 10]
evens = {item for item in numbers if item % 2 == 0}
print(evens)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 18}
{2, 4, 6, 8, 10}